[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
rope = "*"
pylint = "*"

[packages]
python-gitlab = ">=1.8.0"
googletrans = "*"
pathlib = "*"
simplejson = "*"
gitlab-admin = {editable = true,path = "."}
pylint = "*"
python-ldap = "*"

[requires]
python_version = "3.5"
